# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://gwgrvxieuchkxquzyzil.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_wr3Pi7-wBTzA8T6QIlLVMg_fw4TjtAY

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001
